<div id="local" layout="column" layout-padding flex>
    <section id="facebookInfo" class="userinfo" layout="column">
        <h3>Facebook Info</h3>
        <div ng-if="vm.fb" class="facebookData" layout="column">
            <div><span class="md-subhead">Name:&nbsp;</span><span ng-bind="vm.fb.name"></span></div>
        </div>
        <div ng-if="message">
            <div><span class="md-subhead">Error:&nbsp;</span><span class="login-message" ng-bind="message"></span></div>
        </div>
        <div ng-if="!vm.fb" class="facebookData" layout="row">
            <div><md-button class="md-raised md-primary facebook-bg" ng-click="vm.facebookLogin()">Login with <md-icon ng-md-icon icon="facebook-box"></md-icon></md-button></div>
        </div>
    </section>
</div>