<div layout="column" layout-align="start center" flex>
    <div class="hgroup" layout="column" layout-align="start center">
        <h1>Information Overload</h1>
        <h3>See some of the information that you're freely passing around the web</h3>
    </div>
    <div layout="row" layout-align="center center">
        <md-whiteframe class="md-whiteframe-z3" layout="column" layout-align="center center">
            <div class="login-message" ng-if="message" ng-bind="message"></div>
            <form ng-submit="vm.localLogin()">
                <md-input-container layout="row">
                    <md-icon ng-md-icon icon="email" flex-order="1"></md-icon>
                    <input ng-model="vm.email" type="email" placeholder="Email" ng-required="true" flex-order="2">
                </md-input-container>
                <md-input-container layout="row">
                    <md-icon ng-md-icon icon="lock" flex-order="1"></md-icon>
                    <input ng-model="vm.password" type="password" placeholder="Password" ng-required="true" flex-order="2">
                </md-input-container>
                <div layout="column" layout-fill>
                    <md-button class="md-raised md-primary" type="submit"><ng-md-icon icon="login"></ng-md-icon> Sign up / Log in</md-button>
                </div>
            </form>
            <div>Or login with:</div>
            <div layout="row">
                <md-button ng-click="vm.loginWith('Twitter')" class="md-fab twitter-bg" layout="column" layout-align="start center" aria-label="Share on Twitter">
                    <ng-md-icon icon="twitter"></ng-md-icon>
                </md-button>
                <md-button ng-click="vm.loginWith('Facebook')" class="md-fab facebook-bg" layout="column" layout-align="start center" aria-label="Share on Facebook">
                    <ng-md-icon icon="facebook"></ng-md-icon>
                </md-button>
                <md-button ng-click="vm.loginWith('LinkedIn')" class="md-fab linkedin-bg" layout="column" layout-align="start center" aria-label="Share on LinkedIn">
                    <ng-md-icon icon="linkedin"></ng-md-icon>
                </md-button>
                <md-button ng-click="vm.loginWith('Google')" class="md-fab googleplus-bg" layout="column" layout-align="start center" aria-label="Share on Google+">
                    <ng-md-icon icon="google-plus"></ng-md-icon>
                </md-button>
            </div>
        </md-whiteframe>
    </div>
    <footer layout="column" layout-align="end center" flex>
        <p class="textCenter">
            An informational website by Michael Cebrian<br>
            Villanova CSC-5930 - Digital Forensics
        </p>
    </footer>
</div>