<div layout="column" flex>
    <hgroup layout="column" layout-align="center center">
        <h1>Information Overload</h1>
        <h3>See what you're freely passing around the web</h3>
    </hgroup>
    <div layout="row" layout-align="center center">
        <md-whiteframe class="md-whiteframe-z3" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-align="center center">
            <md-input-container layout="row">
                <ng-md-icon icon="person" flex-order="1"></ng-md-icon>
                <input ng-model="vm.name" type="text" placeholder="Name" ng-required="true" flex-order="2">
            </md-input-container>
            <md-input-container layout="row">
                <ng-md-icon icon="email" flex-order="1"></ng-md-icon>
                <input ng-model="vm.email" type="email" placeholder="Email" ng-required="true" flex-order="2">
            </md-input-container>
            <md-input-container layout="row">
                <ng-md-icon icon="lock" flex-order="1"></ng-md-icon>
                <input ng-model="vm.password" type="password" placeholder="Password" ng-required="true" flex-order="2">
            </md-input-container>
            <div layout="column" layout-fill>
                <md-button class="md-raised md-primary"><ng-md-icon icon="login"></ng-md-icon> Log in</md-button>
            </div>
        </md-whiteframe>
    </div>
</div>