<div layout="row">
    <md-content layout-padding layout="column" flex>
        <md-whiteframe class="md-whiteframe-z2" layout="row" layout-margin layout-align="center center">
            <h3 class="md-title">Right Pane</h3>
        </md-whiteframe>
        <md-input-container layout-margin layout="row" flex>
            <ng-md-icon icon="email" style="fill:#607d8b" layout="column" flex-order="1"></ng-md-icon>
            <input name="email" type="email" flex-order="2" layout="column" placeholder="Email">
        </md-input-container>
        <md-button ng-click="subscribe()" layout="row" class="md-raised">
            Subscribe
        </md-button>
    </md-content>
</div>