<div layout="column" flex>
    <md-toolbar ng-if="vm.showToolbar" layout="center" layout-align="center center" class="md-primary md-hue-2">
        <span>Information Overload</span>
    </md-toolbar>
    <md-button ng-repeat="id in vm.ids track by $index" layout="row"
        ng-click="vm.selectId($index)" class="md-whiteframe-z2 sidenav-button" ng-class="{'selected' : id.state === selected }">
        <md-icon ng-class="['circle', 'text-primary-color', 's48', id.class]" ng-md-icon icon="{{id.icon}}"></md-icon>
        <span class="sidenav-button-text">{{id.name}}</span>
    </md-button>
    <div flex></div>
    <md-button
        layout="row"
        ng-click="vm.delete()"
        class="md-whiteframe-z2 sidenav-button">
        <md-icon class="circle text-primary-color s48 md-warn" ng-md-icon icon="remove_circle" size="48"></md-icon>
        <span class="sidenav-button-text">Delete Account</span>
    </md-button>
</div>